body {
    background-color: rgba(255, 127, 80, 0.6);
}

img {
width: 50%;
margin: auto;
display: block;    
}

h1 {
    font-size: xx-large;
    text-align: center;
    font-weight: bold;
    color: black;
    margin-bottom: 50px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    text-align: center;
}

div {
    padding: 30px;
    margin-bottom: 10px;
}

.ct {
    background-color: lightseagreen;
}

.mc {
    background-color: lightgoldenrodyellow;
}

.cm {
    background-color: lightskyblue;
}

/* li {
    padding: 30px;
    text-align: center;
    color: white;
    margin-bottom: 15px;
} */


